---
export const prerender = false;
import "@/styles/globals.css";

import Layout from "@/layouts/Layout.astro";
import { ProjectBasicWrapper } from "@/components/react/ProjectBasicWrapper";
---

<Layout>
  <div class="flex flex-col h-screen">
    <ProjectBasicWrapper client:only="react" />
  </div>
</Layout>
